<!doctype html>
<html class="no-js" lang="zxx" ng-app="usercenter">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>About-Us ||  Aahar Food Delivery Html5 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="style.css">
	<!-- Cusom css -->
    <link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/sweetalert.css" />
	<script src="js/sweetalert.min.js"></script>
	<!-- Modernizer js -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="lib/mall-userCenter.js"></script>
</head>
<body ng-controller="usercenterctrl">
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	
	<!-- <div class="fakeloader"></div> -->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper" >
		<!-- Start Header Area -->
        <header class="htc__header bg--white">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-6 order-1 order-lg-1">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="images/logo/foody.png" alt="logo images">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                            <div class="main__menu__wrap">
                                <nav class="main__menu__nav d-none d-lg-block">
                                    <ul class="mainmenu">
                                       <li>
                                        	<a href="mall-index.html">首页</a>
                                        </li>
                                         <li>
                                        	<a href="mall-menu-list.html">菜单</a>
                                        </li>
                                        <li><a href="mall-cart.html">购物车</a></li>
                                        <li><a href="mall-order.html">订单</a></li>
                                        <li><a href="mall-message.html">留言</a></li>
                                        <li><a href="notice-list.html">公告</a></li>
                                        <li><a href="about-us.html">个人中心</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-4 col-md-4 order-2 order-lg-3">
                            <div class="header__right d-flex justify-content-end">

                                <div class="log__in" ng-hide="isLogin==1">
                                    <a class="accountbox-trigger" href="#"><i class="zmdi zmdi-account-o"></i></a>
                                </div>

                                <div class="log__in" ng-show="isLogin==1">
                                    <a  href="about-us.html"><i class="zmdi zmdi-account-o"></i></a>
                                </div>


                                <!--<div class="shopping__cart">
                                    <a class="minicart-trigger" href="#"><i class="zmdi zmdi-shopping-basket"></i></a>
                                    <div class="shop__qun">
                                        <span>03</span>
                                    </div>
                                </div>-->
                                
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                        <div class="mobile-menu d-block d-lg-none"></div>
                    <!-- Mobile Menu -->
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Area -->

        <!-- Start About Us Area  -->
        <section class="food__about__us__area  bg--white">
            <div class="container">
                    <div class="row ">

                    <div class="col-lg-6 col-sm-12 col-md-12 align-self-center">

                        <div class="food__container" style="font-size: 15px;">
                            <div>我的信息：</div>
                            <div>用户名：<span>{{username}}</span></div>
                            <div>手机号：<span>{{tel}}</span></div>
                            <div ng-if="memberid==1">会员等级：<span >青铜会员</span></div>
                            <div ng-if="memberid==2">会员等级：<span >白银会员</span></div>
                            <div ng-if="memberid==3">会员等级：<span >黄金会员</span></div>
                            <div ng-if="memberid==4">会员等级：<span >铂金会员</span></div>
                            <div>积分：<span>{{account}}</span></div>
                        </div>
                        <br/>
                        <div><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">修改个人信息</button></button></div>
                    </div>


                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">修改个人信息</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>用户名： <input  type="text"  ng-model="username" value="{{username}}"></div>
                                        <div>密&nbsp;&nbsp;&nbsp;&nbsp;码： <input  type="text"  ng-model="password" value="{{password}}"></div>
                                        <div>手机号： <input  type="text"  ng-model="tel" value="{{tel}}"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary" ng-click="edit();">提交更改</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


	</div><!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>
</body>
</html>
